In [1]:
###Deliverable 2: Create a Customer Travel Destinations Map

In [11]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [12]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Weather_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jawad,IN,24.60,74.85,63.86,32,0,4.63,clear sky
1,1,Mahebourg,MU,-20.41,57.70,77.00,78,40,11.41,shower rain
2,2,Busselton,AU,-33.65,115.33,55.99,88,23,1.99,few clouds
3,3,Avarua,CK,-21.21,-159.78,73.40,88,66,1.12,broken clouds
4,4,Alofi,NU,-19.06,-169.92,75.20,94,90,6.93,overcast clouds

In [13]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = int(input("What's the minimum Temperature criteria?"))
max_temp = int(input("What's the maximum Temperature criteria?"))

What's the minimum Temperature criteria?50
What's the maximum Temperature criteria?90

In [14]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
city_selection = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp)&(city_data_df['Max Temp'] <= max_temp)]
city_selection

,Weather_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jawad,IN,24.60,74.85,63.86,32,0,4.63,clear sky
1,1,Mahebourg,MU,-20.41,57.70,77.00,78,40,11.41,shower rain
2,2,Busselton,AU,-33.65,115.33,55.99,88,23,1.99,few clouds
3,3,Avarua,CK,-21.21,-159.78,73.40,88,66,1.12,broken clouds
4,4,Alofi,NU,-19.06,-169.92,75.20,94,90,6.93,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
683,683,Tateyama,JP,34.98,139.87,51.01,85,100,3.00,light rain
684,684,Byron Bay,AU,-28.65,153.62,69.80,83,90,8.05,overcast clouds
685,685,Tabuk,PH,17.42,121.44,69.42,86,29,3.22,scattered clouds
687,687,Torres,BR,-29.34,-49.73,78.33,65,0,18.66,clear sky
689,689,Bialong,PH,6.98,124.89,75.45,88,79,1.68,broken clouds

In [15]:
# 4a. Determine if there are any empty rows.
city_selection.isnull().sum()

Weather_ID             0
City                   0
Country                4
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [16]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = city_selection.dropna()
clean_df.isnull().sum()

Weather_ID             0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [17]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Jawad,IN,63.86,clear sky,24.60,74.85,
1,Mahebourg,MU,77.00,shower rain,-20.41,57.70,
2,Busselton,AU,55.99,few clouds,-33.65,115.33,
3,Avarua,CK,73.40,broken clouds,-21.21,-159.78,
4,Alofi,NU,75.20,overcast clouds,-19.06,-169.92,
5,Lafia,NG,88.00,overcast clouds,8.48,8.52,
7,Sierra Vista,US,60.01,clear sky,31.55,-110.30,
8,Sola,VU,78.64,overcast clouds,-13.88,167.55,
11,Puerto Ayora,EC,75.20,overcast clouds,-0.74,-90.35,
13,Manavalakurichi,IN,84.20,light rain,8.13,77.30,

In [18]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame

    lat = row[4]
    lng = row[5]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
   
    params["location"] = f"{lat},{lng}"
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
clean_hotel_df = hotel_df.replace({'':np.nan}).dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Jawad,IN,63.86,clear sky,24.60,74.85,हर मंदिर जावद
1,Mahebourg,MU,77.00,shower rain,-20.41,57.70,Shandrani Beachcomber Resort & Spa
2,Busselton,AU,55.99,few clouds,-33.65,115.33,Observatory Guest House
3,Avarua,CK,73.40,broken clouds,-21.21,-159.78,Paradise Inn
4,Alofi,NU,75.20,overcast clouds,-19.06,-169.92,Taloa Heights
...,...,...,...,...,...,...,...
683,Tateyama,JP,51.01,light rain,34.98,139.87,Tateyama Seaside Hotel
684,Byron Bay,AU,69.80,overcast clouds,-28.65,153.62,Backpackers Inn on the Beach
685,Tabuk,PH,69.42,scattered clouds,17.42,121.44,Grand Zion Garden Resort Hotel
687,Torres,BR,78.33,clear sky,-29.34,-49.73,Farol Hotel
689,Bialong,PH,75.45,broken clouds,6.98,124.89,Bialong Shariff Aguak

In [20]:
# 8a. Create the output File (CSV)

output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))